body {
	height: 100%;
	width: 100%;
	// background-image: url('img/bg_home.png'); NON
	// background-size: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// overflow: hidden;
	margin: 0;

	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	// user-select: none;
}