{% extends 'layout.html' %}

{% block title %}
    DELETE ACCOUNT
{% endblock %}

{% block content %}
    <br>
    <h1>Delete account</h1>
    <br>
    
    <p>Before deleting your account, please read the <a href="/privacy-policy">privacy policy</a>.</p> <br>
    <p>If you want to delete your account, please contact us at:</p>

    <br><u>Email:</u> proj42_lh@proton.me
    <br><u>Address:</u> 20 Quai Frissard, 76600 Le Havre [FRANCE]
    <br><br>
    <p>We will let you know by email when your account will be deleted.</p>
    <br>

    {% endblock %}