{% extends 'layout.html' %}

{% block title %}
    OTP
{% endblock %}

{% block content %}
<br>
    <h1>OTP</h1>
    <br>
    <form  action="/player/otp/" method="POST">
        {% csrf_token %}
        <div>
            <label for="otp">OTP:</label>
            <input class="form" type="text" name="otp" required>
        </div>
        <br>
        <button type="submit">Confirm</button>
        <br>
   
        {% if error %}
            <br><p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
    {% endblock %}