{% extends 'layout.html' %}

{% block title %}
    Change password
{% endblock %}
{% block content %}
<br><h1>Update Password</h1>
<br>
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endif %}
<br>

<form action="/player/update_password/" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock %}